header{ background-color: #8fbfb7;
}
.title{
	display: flex;
	justify-content: center;
}
.author{
	display: flex;
	justify-content: center;
}
main{ 
	background-color:#e0c9af ;

}
footer{
	background-color: #8fbfb7;
}
.journal{
	text-align: center;
	border: solid;
}
.journal>div {
	border: dotted;
}