header{ background-color: #8fbfb7;
}
.title{
	display: flex;
	justify-content: center;
}

main{ 
	background-color:#e0c9af ;

}
footer{
	background-color: #8fbfb7;
}


.journalContainer{
	display: flex;
	flex-direction: column;
}